.spot-reserve-button {
    background-color: #91AEC4;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 250px;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    transition: background-color 1s, transform 1s;
}

.spot-reserve-button:hover {
    background-color: #5F84A2;
    transform: scale(1.1);
    font-weight: bold;
}