.new-spot-form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
}

.new-spot-form h1, .new-spot-form h2 {
    color: #333;
    font-weight: bold;
}

.new-spot-form label {
    display: block;
    margin-top: 10px;
    color: #333;
}

.new-spot-form input[type="text"],
.new-spot-form input[type="password"],
.new-spot-form input[type="url"],
.new-spot-form input[type="number"],
.new-spot-form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.new-spot-form textarea {
    height: 100px;
    resize: vertical;
}

.new-spot-form .spot-creation-location-container {
    padding-bottom: 30px;
    border-bottom: 2px solid #000;
}

.new-spot-form .spot-creation-description-container {
    padding-bottom: 30px;
    border-bottom: 2px solid #000;
}

.new-spot-form .spot-creation-name-container {
    padding-bottom: 30px;
    border-bottom: 2px solid #000;
}

.new-spot-form .spot-creation-price-container {
    padding-bottom: 30px;
    border-bottom: 2px solid #000;
}

.new-spot-form .spot-errors {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

.new-spot-form .spot-creation-button button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #5c94cb;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
}

.new-spot-form .spot-creation-button {
    display: flex;
    justify-content: center;
}

.new-spot-form .spot-creation-button button:hover {
    background-color: #f53d3f;
}

.new-spot-form .spot-creation-image-container {
    margin-top: 20px;
}