.spot-container {
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    /* align-items: center; */
    /* justify-content: center; */
}

.spot-header {
    width: 100%;
    padding-left: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.spot-header h1 {
    margin-bottom: 0;
}

.spot-images {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    max-height: 500px;
}

.spot-mainImg {
    flex: 1;
    max-width: 50%;
    max-height: 100%;
}

.spot-mainImg img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 20px;
}

.spot-sideImg-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    grid-template-rows: repeat(2, 1fr);
    max-height: 500px;

    flex: 1;
    align-self: stretch;
}

.spot-sideImg {
    width: 100%;
    height: 100%;
}

.spot-sideImg0 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.spot-sideImg1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.spot-sideImg2 img {
    width: 100%;
    height: 95%;
    object-fit: cover;
    border-radius: 10px;
}
.spot-sideImg3 img {
    width: 100%;
    height: 95%;
    object-fit: cover;
    border-radius: 10px;
}

.spot-details-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 2px solid #bbb;
    padding-bottom: 20px;
}

.spot-details {
    width: 50%;
}

.spot-reserve-button {
    width: 50%;
}