@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.navigation-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0;
    list-style: none;
}

.navigation-box {
    border-bottom: 1px solid transparent;
    background-color: #eaf7ff;
}

.navigation-box:hover {
    border-bottom: 2.5px solid #ddd;
  }

.navigation-company {
    display: flex;
    align-items: center;
}

.navigation-h4 {
    color: #1E3A5E;
    font-size: 20px;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
}

.navigation-logo {
    width: 100%;
    height: 50px
}

.loginForm {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    width: 500px;
    flex-direction: column;
    padding: 30px
}

.credential {
    margin: 10px;
}

.submission {
    justify-content: right;
}