
.loginForm {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    width: 500px;
    flex-direction: column;
    padding: 30px
}

.credential {
    margin: 10px;
}

.submission {
    justify-content: right;
}

.error {
    color: red;
}